@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
    background-color: #f1f1f1;
    font-family: 'Pretendard', sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    min-height: 100vh;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 2rem);
  }

  .wrap .main {
    flex: 1;
  }