---

const { pageTitle } = Astro.props;
---
<main class="main flex-1 p-6 pb-14">
    { 
        ()=> {
          if (pageTitle != 'Home') {
            return( <h2 class="text-3xl pb-4">{ pageTitle }</h2> )
          }
        }
      }
    <slot />
</main>