---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home';
---
<BaseLayout pageTitle={ pageTitle }>
	<div class="hero flex flex-col justify-center">
		<div class="text-center">
			<div class="welcome">
				<span>Gisooooogi</span>
				<span>Gisooooogi</span>
			</div>
			
		</div>
	</div>
</BaseLayout>
<style>
	.hero {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
</style>