---
---
<ul class="flex flex-row align-center font-light">
    <li>
        <a href="/about/" class="block py-2 pr-4 pl-3 text-sm text-gray-700 lg:text-base">
            About
        </a>
    </li>
    <li>
        <a href="/blog/" class="block py-2 pr-4 pl-3 text-sm text-gray-700 lg:text-base">
            Blog
        </a>
    </li>
    <li>
        <a href="/game/" class="block py-2 pr-4 pl-3 text-sm text-gray-700 lg:text-base">
            Game
        </a>
    </li>
    <li>
        <a href="/contact/" class="block py-2 pr-4 pl-3 text-sm text-gray-700 lg:text-base">
            Contact
        </a>
    </li>
</ul>