---
---
<ul class="flex flex-row align-center font-medium">
    <li>
        <a href="/about/" class="block py-2 pr-4 pl-3 text-xs text-gray-700 lg:text-sm">
            About
        </a>
    </li>
    <li>
        <a href="/blog/" class="block py-2 pr-4 pl-3 text-xs text-gray-700 lg:text-sm">
            Blog
        </a>
    </li>
    <li>
        <a href="/game/" class="block py-2 pr-4 pl-3 text-xs text-gray-700 lg:text-sm">
            Game
        </a>
    </li>
    <li>
        <a href="/contact/" class="block py-2 pr-4 pl-3 text-xs text-gray-700 lg:text-sm">
            Contact
        </a>
    </li>
</ul>