---

---
<footer class="fixed bottom-0 left-0 right-0">
    <div class="w-full max-w-screen-xl mx-auto pt-4 pb-4">
        <span class="block text-xs text-black-900 text-center">
            © 2023 <a href="/" class="hover:underline">Gisogi™</a>. All Rights Reserved.
        </span>
    </div>
    <div class="wave"></div>
</footer>
<style>
    footer .wave {
        animation: animate 4s ease-in-out infinite; 
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 140px;
        background: rgba(255,255,255,1);
        transition: color .5s ease;
        z-index: -5;
    }
</style>