---

---
<footer class="rounded-lg shadow">
    <div class="w-full max-w-screen-xl mx-auto p-4">
        <span class="block text-xs text-zinc-600 sm:text-center">
            © 2023 <a href="/" class="hover:underline">Gisogi™</a>. All Rights Reserved.
        </span>
    </div>
</footer>
<style>
    footer {
        background-color: rgba(255,255,255,.3);
    }
</style>