---

---

<footer class="bg-white rounded-lg shadow dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-4">
        <span class="block text-sm text-gray-400 sm:text-center dark:text-gray-400">
            © 2023 <a href="/" class="hover:underline">Gisogi™</a>. All Rights Reserved.
        </span>
    </div>
</footer>


<style>
    footer {
        font-size: 11px;
        text-align: center;
    }
</style>